/*Inicio Lista*/
.card-evento-lista { display:table; width:100%; background-color:#FFF; margin-top:10px; }
.card-evento-lista:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.card-evento-imagen-lista { display:table-cell; width:45%; vertical-align: middle; }
.card-evento-info-lista { display:table-cell; width:55%; vertical-align:top; padding:5px 5px; }
.imagen-evento-lista-mobile { display:block; width:100%; }
.imagen-evento-lista-desk { display:none; width:100%; }
.card-evento-info-lista .categorias { color:#4783b2; display:none; font-family:"Merriweather Sans"; margin-top:5px; }
.card-evento-info-lista .titulo { color:#4783b2; font-size:14px; font-weight:900; }
.card-evento-info-lista .resumen { color:#757575; font-size:12px; }
.card-evento-info-lista .fecha-inicio, .fecha-fin { display:inline; color:#4c4f55; font-size:10px; }
.evento-fecha-lista { margin:3px auto; text-align:center; }
.evento-fecha-lista .dia { display:inline-block; color:#FFF; background-color:#7c808b; border-radius:50%; text-align:center; vertical-align:middle; font-size:12px; width:20px; height:20px; padding-top:2px; }
.card-evento-info-lista .compartir { margin-top:5px; margin-left:10px; }
.card-evento-info-lista .img-compartir { width:15px; height:auto; cursor:pointer; }
.card-evento-info-lista .opciones-compartir { margin-left: 10px; display:none; }
.card-evento-info-lista .opciones-compartir .icon { font-size:22px; margin:auto 3px; }
.card-evento-info-lista .opciones-compartir .icon-whatsapp { display:inline; }
.card-evento-info-lista .leer-mas-y-compartir { margin-top:5px; }
.card-evento-info-lista .leer-mas-y-compartir .leer-mas { display:none; }

/*DESK*/
@media only screen and (min-width: 768px) {
    .card-evento-lista { margin-top:18px; }
    .card-evento-imagen-lista { display:table-cell; width:33.3%; vertical-align:top; }
    .card-evento-info-lista { display:table-cell; width:66.6%; padding:20px 15px 12px 30px; }
    .imagen-evento-lista-mobile { display:none; }
    .imagen-evento-lista-desk { display:block; }
    .card-evento-info-lista .fecha-inicio, .fecha-fin { display:inline; font-size:15px; }
    .evento-fecha-lista { text-align:left; }
    .evento-fecha-lista .dia { font-size:18px; width:30px; height:30px; padding-top:2px; }
    .card-evento-info-lista .categorias { display:block; font-weight:bold; font-size:15px; margin-top:10px; }
    .card-evento-info-lista .titulo { font-size:22px; }
    .card-evento-info-lista .resumen { color:#757575; font-size:15px; }
    .card-evento-info-lista .leer-mas-y-compartir { margin-top:20px; }
    .card-evento-info-lista .leer-mas-y-compartir .leer-mas { display:inline; background-color:#4783b2; color:#FFF; padding:10px 30px; border-radius:25px; }
    .card-evento-info-lista .compartir { margin-top:15px; }
    .card-evento-info-lista .img-compartir { width:25px; margin-left:25px; }
    .card-evento-info-lista .opciones-compartir { margin-left: 10px; }
    .card-evento-info-lista .opciones-compartir .icon { font-size:25px; margin:auto 5px; }
    .card-evento-info-lista .opciones-compartir .icon-whatsapp { display:none; }
}
/*Fin Lista*/